/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

body {
  font-family: monospace;
  margin: 0;
  color: rgba(130, 2, 99, 1);
}

.button {
  border-radius: 3px;
  background-color: rgba(217, 3, 104, 1);
  color: whitesmoke;
}

.button:hover {
  background-color: rgba(130, 2, 99, 1);
  box-shadow: 0 0 5px black;
}

table {
  width: 70%;
  margin: 20px auto;
  border-collapse: collapse;
  border: solid medium;
}

th,
td {
  border: solid thin;
}
